<% lista_cajas = establecer_parametros_listado_movimientos(movimientos)[0] %>
<% lista_recibos = establecer_parametros_listado_movimientos(movimientos)[1] %>
<% boton_borrar = establecer_parametros_listado_movimientos(movimientos)[2] %>
<% lista_efectivo = establecer_parametros_listado_movimientos(movimientos)[3] %>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th class='<%= lista_cajas %>'>Fecha</th>
      <th>Causa</th>
      <th class='text-right <%= lista_recibos %>'>Monto &nbsp;</th>
      <th class='text-right <%= lista_cajas %>'>Monto ARS &nbsp;</th>
      <th class='text-right <%= lista_cajas %> <%= lista_efectivo %>'>Monto USD &nbsp;</th>
      <th class='<%= boton_borrar %>'></th>
    </tr>
  </thead>
  <tbody>
    <%# TODO convertir a `render movimientos` cuando las variables sean helpers %>
    <%= render partial: 'movimientos/movimiento', collection: movimientos,
        locals: { lista_cajas: lista_cajas, lista_recibos: lista_recibos,
                  lista_efectivo: lista_efectivo, boton_borrar: boton_borrar } %>
  </tbody>
</table>
